.p-inputwrapper-filled{
    width: 100%;
}
.p-inputwrapper{
    width: 100%;
}
.p-icon-field{
    display: flex;
    justify-content: space-betweenx;
    width: 100%;
}
.p-password-input{
    width: 100%;
}